.filter-block {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	color: grey;
	@media (max-width: 400px) {
		height: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.txtbox {
		width: 100px;
		height: 20px;
		border: none;
		border-bottom: 1px solid grey;
		@media (max-width: 400px) {
			margin-top: 10px;
		}
	}
	.txtbox:hover {
		transform: translate(1.5);
		cursor: pointer;
	}
	.btn {
		width: 100px;
		height: 28px;
		display: block;
		cursor: pointer;
		border-radius: 5px;
		background-color: white;
		border: 1px solid grey;
		margin-left: 10px;
		@media (max-width: 400px) {
			margin-top: 10px;
		}
	}
}
.photo-viewer {
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap: 0px;
	-moz-column-count: 5;
	-moz-column-gap: 0px;
	column-count: 5;
	column-gap: 0px;
	@media (max-width: 1200px) {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
	@media (max-width: 1000px) {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
	@media (max-width: 800px) {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	@media (max-width: 400px) {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	.img-block {
		width: 100% !important;
		height: auto !important;
	}
}
.showMore {
	display: block;
	text-align: center;
	font-family: sans-serif;
	padding: 8px;
	text-decoration: underline;
	cursor: pointer;
}
.showMore:hover {
	transform: scale(1.5);
}
